body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  background: url("http://img.daodaoclub.com/app/gifts/img/bg.jpg") no-repeat !important;
  background-size: 10rem;
  background-attachment: fixed;
}
#whole {
  width: 100%;
  height: 100%;
}
#wrap {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0.26666667rem;
  font-size: 0.4rem;
}
.item {
  width: 9.46666667rem;
  height: 2.66666667rem;
  background: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding: 0.26666667rem;
  border-radius: 0.13333333rem;
  margin-bottom: 0.26666667rem;
  color: white;
}
.item .top {
  font-size: 0.42666667rem;
  line-height: 0.42666667rem;
  padding-bottom: 0.26666667rem;
  padding-top: 0.26666667rem;
}
.item .top span {
  display: inline-block;
  vertical-align: middle;
}
.item .top .name {
  width: 4.26666667rem;
}
.item .address {
  font-size: 0.4rem;
  height: 1.33333333rem;
}
.item .default {
  background: url("http://img.daodaoclub.com/app/gifts/img/yuan.png") no-repeat left center;
  background-size: 0.50666667rem 0.50666667rem;
  width: 0.50666667rem;
  height: 0.50666667rem;
  position: relative;
  top: 50%;
  margin-top: -0.21333333rem;
}
.item .undefault {
  background: url("http://img.daodaoclub.com/app/gifts/img/duihao.png") no-repeat left center;
  background-size: 0.50666667rem 0.50666667rem;
}
.item .word {
  width: 8.93333333rem;
  position: relative;
}
.item .word .phone {
  position: absolute;
  right: 0;
}
.item > div {
  float: left;
}
.bottom {
  width: 100%;
  height: 1.70666667rem;
  margin-top: 1.12rem;
}
.bottom .addAddr {
  width: 8.37333333rem;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  vertical-align: middle;
  background: #e5aa00;
  border-radius: 0.13333333rem;
  text-align: center;
  font-size: 0.48rem;
  color: white;
  margin: 0 auto;
}
.add-title {
  color: white;
  font-size: 0.4rem;
  text-align: left;
  padding: 0.13333333rem 0 0.26666667rem;
}
